body
{
    margin: 0;

    color: white;
    font-family: sans-serif;

    background:
    radial-gradient(circle at 20% 20%, rgba(80, 180, 255, .12), transparent 100%),
    radial-gradient(circle at 80% 80%, rgba(150, 80, 255, .10), transparent 100%),
    linear-gradient(135deg, #071526, #171338);
}

p
{
    font-size: 25px;
}

@media (max-width: 600px)
{
    body
    {
        background:
        radial-gradient(circle at 20% 20%, rgba(80, 180, 255, .12), transparent 80%),
        radial-gradient(circle at 80% 80%, rgba(150, 80, 255, .10), transparent 80%),
        linear-gradient(135deg, #071526, #171338);
    }
}